.Search {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 100%;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.SearchInput {
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  flex-grow: 1;
}

.SearchButton {
  background-color: rgb(0, 175, 0);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5rem;
  height: 100%;
  line-height: 3rem;
  margin-left: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.SearchButton:active {
  background-color: rgb(0, 200, 0);
}

.SearchSuggestions {
  align-self: baseline;
  background-color: white;
  border-top: none;
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;
  width: 81%;
}

.SearchSuggestion {
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  text-decoration: none;
}

.SearchSuggestion:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.SearchSuggestion a {
  text-decoration: none;
}